@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');

@font-face {
    font-family: "Nexa";
    src: url(./font/NexaRegular.otf);
}



/* Uniersal Start */

:root {
    --black: #080A07;
    --white: #fff;
    --header_font: 'Nexa';
    --text_font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header_font);
}

p {
    font-family: var(--text_font);
}

/* Uniersal End */

/* Navbar Section Start */

.menuBar {
    background: rgb(8, 10, 7, 0.6);
    font-family: var(--text_font);
}

.menuBar .logo img {
    width: 70%;
}

.menuItem a {
    position: relative;
    display: inline-block;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 20px;
}

.menuItem a:hover {
    color: var(--white);
}

.menuItem a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--white);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.menuItem a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    left: 0;
}

/* Navbar Section End */

/* Hero Section Start */

.hero {
    width: 100%;
    height: 100vh;
    background: url(./img/hero.png);
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.hero-content {
    margin-top: 20%;
}

.hero-content h1 {
    color: var(--white);
    font-size: 3.5em;
    line-height: 55px;
}

.hero-content p {
    color: var(--white);
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 30px;
}

.hero-content button {
    padding: 8px 35px;
    border-radius: 30px;
    font-family: var(--text_font);
    color: var(--black);
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 30px;
    transition: 0.5s;
}

.hero-content button:hover {
    filter: drop-shadow(6px 6px 25px rgba(255, 255, 255, 0.2));
}

@media screen and (max-width: 1200px) {
    .hero-content h1 {
        font-size: 3em;
        margin-top: 70px;
    }
}

@media screen and (max-width: 990px) {

    .hero-content h1 {
        font-size: 2.5em;
        margin-top: 50px;
        line-height: 40px;
    }

    .hero-content p {
        margin-top: 20px;
    }

    .hero-content button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {

    .hero-content h1 {
        font-size: 2.1em;
        margin-top: 80px;
        line-height: 40px;
        /* text-align: center; */
    }

    .hero-content p {
        margin-top: 20px;
        /* text-align: center; */
    }

    .hero-content button {
        margin-top: 20px;
        /* text-align: center; */
    }
}

/* Hero Section End */

/* About Section Start */

.about {
    position: relative;
    padding-bottom: 50px;
    background: #e7e4e4;
}

.about .about-bg-img-top {
    position: absolute;
    left: 0;
    top: 0;
}

.about .about-bg-img-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

.about_main_img img {
    width: 90%;
    margin-top: 100px;
}

.about_content {
    margin-top: 190px;
}

.about_content h1 {
    font-size: 3.2em;
    color: var(--black);
    line-height: 1em;
}

.about_content p {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--black);
    padding: 20px 0;
}

.about_content .about-btn {
    padding: 10px 35px;
    background: var(--black);
    font-family: var(--text_font);
    color: var(--white);
    border: none;
    border-radius: 30px;
    font-size: 1.1em;
    transition: 0.5s;
}

.about_content .about-btn:hover {
    filter: drop-shadow(6px 6px 25px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 1200px) {
    .about_content {
        margin-top: 170px;
    }

    .about_content h1 {
        font-size: 2.5em;
    }

    .about_content p {
        font-size: 1em;
    }
}

@media screen and (max-width: 990px) {
    .about_content {
        margin-top: 0;
        padding-bottom: 50px;
    }

    .about_main_img img {
        display: block;
        margin: auto;
        padding-top: 60px;
    }

    .about-bg-img-top, .about-bg-img-bottom {
        display: none;
    }

    .about_content h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 575px) {
    .about_content {
        padding-bottom: 10px;
    }

    .about_main_img img {
        padding-top: 30px;
    }
}

/* About Section End */

/* Reservation Section Start */

.reservation {
    width: 100%;
    height: 600px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.reservation-header h1 {
    color: var(--white);
    font-size: 2.8em;
    padding-top: 100px;
    padding-bottom: 70px;
}

.reservation input, select {
    border-radius: 30px !important;
    height: 45px !important;
}

.reserv-btn button {
    padding: 10px 35px;
    font-family: var(--text_font);
    border: none;
    border-radius: 30px;
    background: var(--white);
    margin-top: 120px;
    transition: 0.5s;
}

.reserv-btn button:hover {
    filter: drop-shadow(6px 6px 25px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 990px) {
    .reservation-header h1 {
        font-size: 2.5em;
        padding-top: 50px;
        padding-bottom: 0;
    } 

    .reservation label {
        margin-top: 20px;
    }

    .reserv-btn button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 575px) {
    .reservation-header h1 {
        font-size: 2.3em;
        padding-top: 40px;
    } 
}

/* Reservation Section End */

/* Pricing Section Start */

.specialties {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    background: #e7e4e4;
}

.specialties .price-top-img {
    position: absolute;
    top: -120px;
    left: 0;
}

.specialties .price-bottom-img {
    position: absolute;
    bottom: 0;
    right: 30px;
}

.specialties-header h1 {
    font-size: 3.5em;
    text-align: center;
    color: var(--black);
    padding-top: 100px;
    padding-bottom: 100px;
}

.specialties-list {
    padding: 30px;
    transition: 0.5s;
}

.specialties-list:hover {
    border-radius: 20px;
    box-shadow: inset 10px 10px 29px #c2c0c0,
            inset -10px -10px 29px #ffffff;
}

.specialties-list img {
    border-radius: 20px;
    width: 100%;
}

.specialties-list-content {
    padding: 5px;
}

.specialties-list-content h3 {
    padding-top: 20px;
    font-size: 1.8em;
}

.specialties-btn button {
    padding: 10px 35px;
    font-family: var(--text_font);
    border: none;
    border-radius: 30px;
    background: var(--black);
    color: var(--white);
    margin-top: 100px;
    margin-bottom: 70px;
    transition: 0.5s;
}

.specialties-btn button:hover {
    filter: drop-shadow(6px 6px 25px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 1400px) {
    .specialties-list-content h3 {
        font-size: 1.6em;
    }

    .specialties-list {
        padding: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .specialties-header h1 {
        font-size: 3em;
    }
    .specialties-list-content h3 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 990px) {
    .specialties-header h1 {
        font-size: 2.5em;
        text-align: center;
        color: var(--black);
        padding-top: 60px;
        padding-bottom: 10px;
    }

    .specialties .price-top-img, .price-bottom-img {
        display: none;
    }

    .specialties-list {
        margin: 10px;
    }

    .specialties-list img {
        width: 90%;
        display: block;
        margin: auto;
        padding-top: 20px;
    }

    .specialties-list-content {
        padding: 20px;
    }

    .specialties-list-content h3 {
        padding-top: 0px;
    }

    .specialties-btn button {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

/* Pricing Section End */

/* Footer Section Start */

.footer {
    background: var(--black);
    position: relative;
    z-index: -2;
}

.footer-chak-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.footer-img img {
    width: 10%;
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.foot-about h3, .foot-contact h3{
    color: var(--white);
    font-size: 2.2em;
    padding-bottom: 10px;
}

.foot-contact p {
    line-height: 10px;
}

.copyright p {
    color: var(--white);
    padding: 50px 0 20px 0;
}

@media screen and (max-width: 990px) {
    .footer-img img {
        width: 15%;
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .footer-chak-img {
        display: none;
    }
}

.foot-contact {
    margin-top: 40px;
}

/* Footer Section End */



